<!DOCTYPE html>
<html>
	<head>
	<title>Krumblr</title>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
	<%= csrf_meta_tags %>
	
	</head>
	<body>
		This is how you make toolbars
		<%= link_to "welcome", "/" %>
		<%= link_to "about", "about" %>
	<%= yield %>
	<!-- fetches page we are looking at -->
	</body>
</html>
