<!DOCTYPE html>
<html>
	<head>
	<title>Krumblr</title>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	

	<%= csrf_meta_tags %>
	
	</head>
	<body>
		
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
			<!-- This is how you make toolbars -->
					<li>
					<%= link_to "welcome", root_url %>
					</li>
				
					<li>
					<%= link_to "blog manager", posts_url %>
					</li>

					<li>
					<%= link_to "about", about_url %>
					</li>
					

				</ul>
				<h1>
					<%= link_to 'Live smart', '/' %>
					<small>save smarter</small>
				</h1>
			</div>
			</div class="row">
				<div class="col-md-6 col-md-offset-3">
				<%= yield %>
			</div>
			

			
		<!-- fetches page we are looking at -->
		</div>
	</body>
</html>
